html{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#cabecera{
position: relative;
height: 8em;
width: 50em;
box-sizing: border-box;
background: linear-gradient(green 85%, yellow);
background-color: green;
border-radius: 1em;
padding: 1.5em 1.5em 0 1.5em;
box-shadow: 3px 3px 4px grey;
}

#primero{
    position: obsolute;
    top: 50%;
    transform: translateY(-50%);
}

#primero h1{
    color: #333;
	text-shadow: 0px 1px 3px #FFFFFF;
	font-family: sans-serif;			  
    margin: 1px;
    margin-top: 1em;
	text-align: left;
}

#primero p{
    color: #333;			 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 1px;
	text-align: left;
}

#menu{
    position: absolute;
    margin-right: 1em;
    right: 0px;
    bottom: 0px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

ul li{
    width: 6em;
    margin-left: 2px;
    background: linear-gradient(to left, yellow, white,yellow);
    background-color: yellow;
    border-radius: 5px;
    display: block;
    line-height: 2em;
    color: black;
    font-size: small;
    font-weight: bold;
    text-align: center;
    font-family: arial;
}

